*{outline:1px solid red}
.quote{
   /* position:absolute;
    top:90vh;
    justify-content:center;
    color:white;
    width:100vw;*/
    display:flex;
    flex-wrap:flex;
}
.one{
    height:20vh;
}

.two{
    height:60vh;
}

.three{
    height:20vh;
}
.weather{
   color:white;
   background-color:rgba(0,0,0,.75);
   text-align:center;
}

.todo{
    color:black;
}

body{
    font-size:2rem;
    background-repeat:no-repeat;
    background-size:cover;
    font-family:Kaushan Script, cursive;
}

.quote-text{
    background-color:rgba(0,0,0,.75);
    color:white;
}

#todo-list{
    height:40vh;
}
li{
   background-color:rgba(0,0,0,.75);  
}
ul {
    height:30vh;
    color:white;
    list-style-type: none;
}

button{
    color:white;
    background-color:navy;
    border-radius:15px;
}

span{
    background-color:rgba(0,0,0,.75); 
    color:white;
}