/**{outline:1px solid red}*/
.quote{
   /* position:absolute;
    top:90vh;
    justify-content:center;
    color:white;
    width:100vw;*/
    display:flex;
    flex-wrap:flex;
}
.one{
    height:30vh;
}

.two{
    height:50vh;
}

.three{
    height:20vh;
}
.weather{
   color:white;
   background-color:rgba(0,0,0,.75);
   text-align:center;
}

.todo{
    color:black;
}

body{
    font-size:2rem;
    background-repeat:no-repeat;
    background-size:cover;
    font-family:Kaushan Script, cursive;
}

.quote-text, .author-text{
    background-color:rgba(0,0,0,.75);
    color:white;
}

#todo-list{
    height:40vh;
}
li{
   background-color:rgba(0,0,0,.75); 
   display:flex;
   flex-wrap: wrap; 
}
ul {
    height:30vh;
    color:white;
    list-style-type: none;
}

button{
    color:white;
    background-color:navy;
    border-radius:15px;
}

span{
    background-color:rgba(0,0,0,.75); 
    color:white;
}
.author-text{
    text-align:center;
}
.author{
    display:none;
}

.quote:hover .author{
    display:block;
}

#clock{ text-align:center;
		color:white;
        font-size:8rem;
        margin-top:12vh;
        background-color:rgba(0,0,0,.75);
	 }

#greeting{ text-align:center;
		color:white;
        font-size:6rem;
        margin-top:5vh;
        background-color:rgba(0,0,0,.75);
	 }